<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% for item in user_application %}
    <p>{{ item[0] }}</p>
    <p>{{ item[1] }}</p>
    <p>{{ item[2] }}</p>
    <p>{{ item[3] }}</p>
    <p>{{ item[4] }}</p>
    <form action="/feedback", method="post">
        <input type="hidden" name="application_id" value="{{item[0]}}">
        <input type="text" name="comment" placeholder="отзыв">
        <button type="submit">Отправит</button>
    </form>
    {% endfor %}
    
</body>
</html>